<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>
    <style type="text/css">
        .editorCaption {
            min-width: 90px;
        }
        .buttonsContainer {
            float: right;
        }
        .container {
            display: table;
            width: 100%;
            max-width: 450px;
            margin-bottom: 5px;
            padding-bottom: 8px;
        }
    </style>

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
    )
    @Html.DevExpress().GetScripts( 
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.GridView }
    )
</head>

<body>
    @RenderBody()
</body>
</html>